# pandas Function

In [2]:
import pandas as pd

csv_1=pd.read_csv("C:\\Users\\Harsh Verma\\Documents\\Panda\\service.csv")
csv_1

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,SSSQ.SFMN1111CA,2004.06,1248.356,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
1,SSSQ.SFMN1111CA,2004.09,1220.571,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
2,SSSQ.SFMN1111CA,2004.12,1263.820,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
3,SSSQ.SFMN1111CA,2005.03,1146.156,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
4,SSSQ.SFMN1111CA,2005.06,1382.692,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,SSSQ.SFMN1111CS,2007.09,1542.068,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
95,SSSQ.SFMN1111CS,2007.12,1649.224,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
96,SSSQ.SFMN1111CS,2008.03,1633.885,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
97,SSSQ.SFMN1111CS,2008.06,1663.704,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
98,SSSQ.SFMN1111CS,2008.09,1643.211,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN

In [8]:
csv_1.index

RangeIndex(start=0, stop=99, step=1)

In [9]:
csv_1.columns

Index(['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS',
       'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1',
       'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5'],
      dtype='object')

In [10]:
csv_1.describe()

            Period   Data_value  Suppressed  Magnitude  Series_title_5
count    99.000000    99.000000         0.0       99.0             0.0
mean   2012.519293  2092.530606         NaN        6.0             NaN
std       6.162797   831.533004         NaN        0.0             NaN
min    2004.060000  1146.156000         NaN        6.0             NaN
25%    2007.060000  1478.900500         NaN        6.0             NaN
50%    2012.030000  1690.838000         NaN        6.0             NaN
75%    2018.045000  2634.218000         NaN        6.0             NaN
max    2024.060000  4215.970000         NaN        6.0             NaN

In [13]:
csv_1.head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,SSSQ.SFMN1111CA,2004.06,1248.356,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
1,SSSQ.SFMN1111CA,2004.09,1220.571,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN

In [14]:
csv_1.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
94,SSSQ.SFMN1111CS,2007.09,1542.068,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
95,SSSQ.SFMN1111CS,2007.12,1649.224,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
96,SSSQ.SFMN1111CS,2008.03,1633.885,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
97,SSSQ.SFMN1111CS,2008.06,1663.704,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
98,SSSQ.SFMN1111CS,2008.09,1643.211,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN

In [15]:
csv_1[3:6]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
3,SSSQ.SFMN1111CA,2005.03,1146.156,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
4,SSSQ.SFMN1111CA,2005.06,1382.692,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
5,SSSQ.SFMN1111CA,2005.09,1299.487,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN

In [16]:
print(type(csv_1))

<class 'pandas.core.frame.DataFrame'>

In [17]:
csv_1.index.array

<NumpyExtensionArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56,
 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75,
 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94,
 95, 96, 97, 98]
Length: 99, dtype: int64

In [18]:
csv_1.to_numpy()

array([['SSSQ.SFMN1111CA', 2004.06, 1248.356, ..., 'Current prices',
        'Actual', nan],
       ['SSSQ.SFMN1111CA', 2004.09, 1220.571, ..., 'Current prices',
        'Actual', nan],
       ['SSSQ.SFMN1111CA', 2004.12, 1263.82, ..., 'Current prices',
        'Actual', nan],
       ...,
       ['SSSQ.SFMN1111CS', 2008.03, 1633.885, ..., 'Current prices',
        'Seasonally adjusted', nan],
       ['SSSQ.SFMN1111CS', 2008.06, 1663.704, ..., 'Current prices',
        'Seasonally adjusted', nan],
       ['SSSQ.SFMN1111CS', 2008.09, 1643.211, ..., 'Current prices',
        'Seasonally adjusted', nan]], dtype=object)

In [19]:
import numpy as np
v=np.asarray(csv_1)
v

array([['SSSQ.SFMN1111CA', 2004.06, 1248.356, ..., 'Current prices',
        'Actual', nan],
       ['SSSQ.SFMN1111CA', 2004.09, 1220.571, ..., 'Current prices',
        'Actual', nan],
       ['SSSQ.SFMN1111CA', 2004.12, 1263.82, ..., 'Current prices',
        'Actual', nan],
       ...,
       ['SSSQ.SFMN1111CS', 2008.03, 1633.885, ..., 'Current prices',
        'Seasonally adjusted', nan],
       ['SSSQ.SFMN1111CS', 2008.06, 1663.704, ..., 'Current prices',
        'Seasonally adjusted', nan],
       ['SSSQ.SFMN1111CS', 2008.09, 1643.211, ..., 'Current prices',
        'Seasonally adjusted', nan]], dtype=object)

In [21]:
csv_1.sort_index(axis=0,ascending = False)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
98,SSSQ.SFMN1111CS,2008.09,1643.211,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
97,SSSQ.SFMN1111CS,2008.06,1663.704,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
96,SSSQ.SFMN1111CS,2008.03,1633.885,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
95,SSSQ.SFMN1111CS,2007.12,1649.224,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
94,SSSQ.SFMN1111CS,2007.09,1542.068,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,SSSQ.SFMN1111CA,2005.06,1382.692,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
3,SSSQ.SFMN1111CA,2005.03,1146.156,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
2,SSSQ.SFMN1111CA,2004.12,1263.820,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
1,SSSQ.SFMN1111CA,2004.09,1220.571,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
0,SSSQ.SFMN1111CA,2004.06,1248.356,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN

In [3]:
csv_1

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,SSSQ.SFMN1111CA,2004.06,1248.356,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
1,SSSQ.SFMN1111CA,2004.09,1220.571,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
2,SSSQ.SFMN1111CA,2004.12,1263.820,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
3,SSSQ.SFMN1111CA,2005.03,1146.156,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
4,SSSQ.SFMN1111CA,2005.06,1382.692,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,SSSQ.SFMN1111CS,2007.09,1542.068,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
95,SSSQ.SFMN1111CS,2007.12,1649.224,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
96,SSSQ.SFMN1111CS,2008.03,1633.885,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
97,SSSQ.SFMN1111CS,2008.06,1663.704,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN
98,SSSQ.SFMN1111CS,2008.09,1643.211,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN

In [6]:
csv_1["Series_reference"][0]="Python"
csv_1

C:\Users\Harsh Verma\AppData\Local\Temp\ipykernel_1756\1737318239.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  csv_1["Series_reference"][0]="Python"
C:\Users\Harsh Verma\AppData\Local\Temp\ipykernel_1756\1737318239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  csv_1["Series_reference"][0]="Python"

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,"(Series_reference, 0)"
0,Python,2004.06,1248.356,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
1,SSSQ.SFMN1111CA,2004.09,1220.571,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
2,SSSQ.SFMN1111CA,2004.12,1263.820,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
3,SSSQ.SFMN1111CA,2005.03,1146.156,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
4,SSSQ.SFMN1111CA,2005.06,1382.692,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,SSSQ.SFMN1111CS,2007.09,1542.068,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
95,SSSQ.SFMN1111CS,2007.12,1649.224,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
96,SSSQ.SFMN1111CS,2008.03,1633.885,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
97,SSSQ.SFMN1111CS,2008.06,1663.704,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
98,SSSQ.SFMN1111CS,2008.09,1643.211,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python

In [9]:
csv_1.loc[0,"Series_reference"]="Vidrohi"
csv_1

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,"(Series_reference, 0)"
0,Vidrohi,2004.06,1248.356,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
1,SSSQ.SFMN1111CA,2004.09,1220.571,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
2,SSSQ.SFMN1111CA,2004.12,1263.820,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
3,SSSQ.SFMN1111CA,2005.03,1146.156,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
4,SSSQ.SFMN1111CA,2005.06,1382.692,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,SSSQ.SFMN1111CS,2007.09,1542.068,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
95,SSSQ.SFMN1111CS,2007.12,1649.224,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
96,SSSQ.SFMN1111CS,2008.03,1633.885,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
97,SSSQ.SFMN1111CS,2008.06,1663.704,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
98,SSSQ.SFMN1111CS,2008.09,1643.211,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python

In [10]:
csv_1.loc[[0,1,2,3],["Series_reference","Data_value"]]

  Series_reference  Data_value
0          Vidrohi    1248.356
1  SSSQ.SFMN1111CA    1220.571
2  SSSQ.SFMN1111CA    1263.820
3  SSSQ.SFMN1111CA    1146.156

In [12]:
csv_1.loc[:,["Series_reference","Data_value"]]

   Series_reference  Data_value
0           Vidrohi    1248.356
1   SSSQ.SFMN1111CA    1220.571
2   SSSQ.SFMN1111CA    1263.820
3   SSSQ.SFMN1111CA    1146.156
4   SSSQ.SFMN1111CA    1382.692
..              ...         ...
94  SSSQ.SFMN1111CS    1542.068
95  SSSQ.SFMN1111CS    1649.224
96  SSSQ.SFMN1111CS    1633.885
97  SSSQ.SFMN1111CS    1663.704
98  SSSQ.SFMN1111CS    1643.211

[99 rows x 2 columns]

In [13]:
csv_1.loc[[0,1,2,3],:]

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,"(Series_reference, 0)"
0,Vidrohi,2004.06,1248.356,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
1,SSSQ.SFMN1111CA,2004.09,1220.571,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
2,SSSQ.SFMN1111CA,2004.12,1263.820,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
3,SSSQ.SFMN1111CA,2005.03,1146.156,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python

In [16]:
csv_1.iloc[0,0]

'Vidrohi'

In [22]:
csv_1.drop(1,axis=0)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5,"(Series_reference, 0)"
0,Vidrohi,2004.06,1248.356,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
2,SSSQ.SFMN1111CA,2004.12,1263.820,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
3,SSSQ.SFMN1111CA,2005.03,1146.156,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
4,SSSQ.SFMN1111CA,2005.06,1382.692,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
5,SSSQ.SFMN1111CA,2005.09,1299.487,NaN,F,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Actual,NaN,Python
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,SSSQ.SFMN1111CS,2007.09,1542.068,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
95,SSSQ.SFMN1111CS,2007.12,1649.224,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
96,SSSQ.SFMN1111CS,2008.03,1633.885,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
97,SSSQ.SFMN1111CS,2008.06,1663.704,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python
98,SSSQ.SFMN1111CS,2008.09,1643.211,NaN,R,dollars,6,Selected Services Survey (ANZSIC06) - SSS,Industry sales - Subannual Financial Collection,"Scientific, Architectural and Engineering Serv...",Sales (operating income),Current prices,Seasonally adjusted,NaN,Python